<!--
 * @Author         :薄荷
 * @Date           : 2026-10-06 17:58:00
 * @LastEditors    :薄荷
 * @LastEditTime   : 2026-10-06 17:58:00
 * @Description    : Command help view
 * @GitHub         : https://github.com/cscs181/QQ-GitHub-Bot
-->

{% extends "main.html.jinja" %}
{% block main %}
<div class="container-xl px-3 px-md-4 px-lg-5 mt-4">
  <div class="mb-4">
    <h1 class="f2 light text-normal mb-2">{{ ctx.title|escape }}</h1>
    <p class="color-fg-muted">{{ ctx.description|escape }}</p>
  </div>
  {% for section in ctx.sections %}
  <div class="Box mb-4">
    <div class="Box-header">
      <h2 class="f5 text-normal">{{ section.name|escape }}</h2>
    </div>
    {% for command in section.commands %}
    <div class="Box-row d-flex flex-items-baseline">
      <code class="flex-shrink-0 mr-3 text-mono" style="white-space: nowrap;">{{ command.name|escape }}</code>
      <span class="f6 color-fg-muted">{{ command.description|escape }}</span>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  <p class="f6 color-fg-muted text-center pb-3">
    提示：命令中的 owner/repo 指仓库全名，例如 cscs181/QQ-GitHub-Bot
  </p>
</div>
{% endblock %}
